%section
  %h2 We Like Being Social
  %p
    Despite being nerds, we like to socialize. You'll find us getting chatty on the following services:
  %ul
    %li= link_to 'Cloudspace Launchpad', 'http://cloudspace.com/'
    %li= link_to 'Twitter', 'https://twitter.com/cloudspace'
    %li= link_to 'Facebook', 'https://www.facebook.com/Cloudspacious'
    %li= link_to 'Linkedin', 'https://www.linkedin.com/company/cloudspace'
    %li= link_to 'GitHub', 'https://github.com/cloudspace'
    %li= link_to 'Flikr', ''
    %li= link_to 'Blog', ''
